@use 'sass:map';
@use '../abstract/variables.scss' as vars;

// TODO: add proper mq()
.container {
  width: 100%;
  max-width: map.get(vars.$breakpoints, 'xl');
  margin-left: auto;
  margin-right: auto;
  padding-left: vars.$space-3;
  padding-right: vars.$space-3;

  //   @include respond-to(md) {
  //     padding-left: vars.$space-4;
  //     padding-right: vars.$space-4;
  //   }
}
