@use 'sass:color';

$color-primary: #31ebf5;
$color-secondary: #ff4081;
$color-white: #eee;
$color-dark: #111;
$color-neon: #00e5ff;
$color-error: #f00;

$color-header-background: color.adjust($color-primary, $lightness: 50%);
$color-header-shadow: color.adjust($color-primary, $blackness: 70%);
$color-genre-badge: $color-secondary;
$color-link: color.change($color-primary, $blackness: 60%);
$color-link-hover: color.change($color-primary, $blackness: 40%);
$color-movie-card-background: $color-white;

$border-radius-tiny: 4px;
$border-radius-normal: 18px;
$border-radius-max: 900px;

$space-0: 0;
$space-1: 4px;
$space-2: 8px;
$space-3: 16px;
$space-4: 24px;
$space-5: 32px;
$space-6: 40px;

$max-content-width-lg: 960px;

$grid-gap-1: 1rem;
$grid-gap-1_5: 1.5rem;
$grid-gap-2: 2rem;

$min-card-width: 200px;
$min-card-hight: 200px;

$poster-size-sm: 100%;
$poster-size-md: 380px;
$poster-size-lg: 480px;

$breakpoints: (
  'xs': 0,
  // default / mobile‑first
  'sm': 480px,
  // small phones
  'md': 768px,
  // tablets
  'lg': 1024px,
  // small laptops
  'xl': 1280px,
  // desktops
  'xxl': 1440px, // large desktops
);

$genreToColors: (
  'sciencefiction': (
    'color': '#c3ebef',
    'background-color': '#020024',
    'background':
      'linear-gradient(275deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);',
  ),
  'horror': (
    'color': '#fbe293',
    'background-color': '#833AB4',
    'background':
      'linear-gradient(45deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgb(47 77 143) 100%)',
  ),
  'animation': (
    'color': '#052a27',
    'background-color': '#2A7B9B',
    'background':
      'linear-gradient(49deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);',
  ),
);
