@use '../../styles/abstract/variables.scss' as vars;
@use '../../styles/abstract/mixins' as mixins;

.movie-details {
  padding: vars.$space-4;
  width: 100%;

  &__error {
    color: vars.$color-error;
  }

  &__title {
    margin-top: 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: vars.$grid-gap-1_5;
    margin-bottom: vars.$space-6;
    @include mixins.mq(md, min) {
      flex-direction: row;
    }
    @include mixins.mq(lg, min) {
      max-width: vars.$max-content-width-lg;
      margin: auto;
    }
  }

  &__poster {
    width: 100%;
    border-radius: vars.$border-radius-tiny;
    box-shadow: 0 2px 6px rgba(#000, 0.2);
    @include mixins.mq(sm, min) {
      width: vars.$poster-size-sm;
    }
    @include mixins.mq(md, min) {
      width: vars.$poster-size-md;
    }
    @include mixins.mq(lg, min) {
      width: vars.$poster-size-lg;
    }
  }

  &__essential,
  &__overview {
    margin-bottom: vars.$space-4;
  }

  &__genres {
    width: 100%;
    display: flex;
    gap: vars.$grid-gap-1;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__genre-badge {
    background-color: vars.$color-genre-badge;
    color: vars.$color-dark;
    padding: vars.$space-2;
    border-radius: vars.$border-radius-normal;
  }

  &__cast {
    margin-top: vars.$space-6;
    @include mixins.mq(lg, min) {
      max-width: vars.$max-content-width-lg;
      margin: vars.$space-6 auto;
    }

    &-list {
      list-style: none;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      gap: vars.$grid-gap-1;
    }
  }
}
