@use './base/reset';

@use '../styles/abstract/variables';
@use '../styles/abstract/theming';
@use '../styles/abstract/mixins';

@use './base/fonts';
@use './base/typography';

@use '../components/common/Header/header';
@use '../components/common/Footer/footer';
@use '../components/Carousel/carousel';
@use '../components/MovieCard/movieCard';
@use '../components/CastCard/castCard';
@use '../components/AddOrRemoveFromWishlistButton/addOrRemoveFromWishlistButton';

@use '../pages/HomePage/homePage';
@use '../pages/MovieDetailsPage/movieDetailsPage';
@use '../pages/WishlistPage/wishlistPage';

$app-bg: #dff8ff;

body {
  background: $app-bg;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
