@use '../styles/abstract/variables';

@use './base/reset';
@use './base/fonts';
@use './base/typography';
@use './base/utilities';

@use './layout/container';

@use '../components/common/header';
@use '../components/carousel';
@use '../components/movieCard';
@use '../components/addOrRemoveFromWishlistButton';

@use '../pages/movieDetailsPage';
@use '../pages/wishlistPage';

$app-bg: #f9f9f9;

body {
  background: $app-bg;
  font-size: 16px;
}

.app {
  // padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
